
  <div class="login-card">
    <h2 class="page-title">create new post</h2>
    <form class="form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-input" type="title" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-contents">contents</label>
        <input class="form-input" type="contents" id="post-contents" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">post</button>
      </div>
    </form>
  </div>

  {{#each posts}}
<section class="card">
    <header>{{post_name}}</header>
 <p>{{post_content}}</p>
 <p>posted: {{post_date}}</p>
 </section>
 {{/each}}
